<section data-ng-controller="AnamnesisController" data-ng-init="find()">
    <div class="page-header">
        <h1>Anamnesis</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="anamnesi in anamnesis" data-ng-href="#!/anamnesis/{{anamnesi._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="anamnesi.created | date:'medium'"></span>
				by
				<span data-ng-bind="anamnesi.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="anamnesi.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!anamnesis.$resolved || anamnesis.length">
    	No Anamnesis yet, why don't you <a href="/#!/anamnesis/create">create one</a>?
    </div>
</section>